// Primary Colors
$body: #5B92E5;
$header: #3C6BAC;
$footer: #5A5858;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// Grayscale
$black: #000000;
$gray-darker: #343a40;
$gray-dark: #6c757d;
$gray: #adb5bd;
$gray-light: #f8f9fa;
$gray-lighter: #f1f3f5;
$fontcolor: #eee;



