* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a, a:visited, a:link {
  color: #eee;
  text-decoration: none;
}

body {
  font-size: 2rem;
  background: #5B92E5;
  font-family: "Segoe UI", Arial, sans-serif;
}

.nav__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav {
  width: 100%;
  background: #3C6BAC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  font-size: 130%;
  padding: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 1;
  font-family: sans-serif;
}

.nav__h2 {
  font-size: 250%;
}

.nav__logo {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 10rem;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.sdgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 15rem;
}

.sdg__item {
  width: 40rem;
  height: 40rem;
  background: #dc3545;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sdg__buttonlinks {
  width: 0;
  height: 0;
  border: 2rem solid #5B92E5;
  border-top: 0;
  border-bottom: 3rem solid black;
  transform: rotate(-90deg);
  cursor: pointer;
}

.sdg__buttonrechts {
  width: 0;
  height: 0;
  border: 2rem solid #5B92E5;
  border-top: 0;
  border-bottom: 3rem solid black;
  transform: rotate(90deg);
  cursor: pointer;
}

.ctaSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.cta__item {
  height: 40rem;
  width: 110rem;
  background-color: #dc3545;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cta__button {
  height: 10rem;
  width: 30rem;
  margin: 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.sdgdescription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.sdgd__div {
  height: 50rem;
  width: 150rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 4rem;
}

.sdgd__p {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
}

.sdgd__divimg {
  height: 10rem;
  width: 20rem;
  background-color: black;
  border-radius: 0.5rem;
  margin: 3rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50rem;
  padding-right: 50rem;
  height: 40rem;
  background-color: black;
}

.logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.footer-div {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: 0.5rem solid white;
}

.logo-f {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.b-footer{
    height: 14rem;
    border-top: 1px solid rgb(238, 238, 238);
    display: flex;
    padding-left: 11rem;
    padding-right:11rem;
    justify-content: space-between;
    align-items: center;
}

main{
    height: 70rem;
}

.red-hov:hover{
    color: #3C6BAC;
}

.footer-icons{
    height: 3rem;
    width: auto;
}

.footer-fig{
  width: 8rem;
  height: 8rem;
}

.footer__text {
  color: white;
}

.icon_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 40rem;
}

.footer-icons {
  width: 10rem;
}

.tile__article{
  width: 40rem;
  height: 40rem;
}

.tile__link{
  width: 100%;
  height: 100%;
}

.tile__img{
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
