@use '../colors';
@use '../fonts';

.ctaSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:60rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.cta__item{
    height: 40rem;
    width: 110rem;
    background-color: colors.$danger-color;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cta__button{
    height: 10rem;
    width:30rem;
    margin: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}