@use '../colors';
@use '../fonts';

.footer{
    display: flex;
}


.footer-top{
    height: 50rem;
    
}

.logo-f{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  
}

.b-footer{
    height: 14rem;
    border-top: 1px solid rgb(238, 238, 238);
    display: flex;
    padding-left: 11rem;
    padding-right:11rem;
    justify-content: space-between;
    align-items: center;

}

.red-hov:hover{
    color: #3C6BAC;
}

.footer-icons{
    height: 3rem;
    width: auto;
}

.footer-fig{
  width: 8rem;
  height: 8rem;
  
}
