@use '../colors';
@use '../fonts';
@use '../components';


.nav{
    width: 100%;
    background: colors.$nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    font-size: 130%;
    padding: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;
<<<<<<< HEAD

=======
    z-index: 1;
    font-family: sans-serif;
}

.nav__h2{
    font-size: 250%;
>>>>>>> 9d081b5939d92d11efef049221a5b531d51bff91
}


.nav__logo{
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 10rem;
}

.nav__img{
    @extend %img;
}


.nav__list{
    display: flex;
    list-style: none;
    gap: 5rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9d081b5939d92d11efef049221a5b531d51bff91
