@use '../colors';
@use '../fonts';
@use '../components';


.nav{
    width: 100%;
    background: colors.$nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    font-size: 130%;
    padding: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;

}


.nav__logo{
    width: 15rem;
    height: 15rem;
}

.nav__img{
    @extend %img;
}


.nav__list{
    display: flex;
    list-style: none;
    gap: 5rem;
}
