@use '../colors';
@use '../fonts';

.sdgdescription{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:70rem;
    background: white;
    gap: 2rem;
    flex-wrap: wrap;
}

.sdgd__div{
    height: 50rem;
    width: 150rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 4rem;
}

.sdgd__p{
    font-size: 2rem;
}

.sdgd__divimg{
    height: 10rem;
    width: 20rem;
    background-color: black;
    border-radius: 0.5rem;
    margin: 3rem;
}