@use '../colors';
@use '../fonts';

.sdgSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60rem;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 15rem;
}

.sdg__item{
    width: 40rem;
    height: 40rem;
    background: colors.$danger-color;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdg__buttonlinks{
    width: 0;
    height: 0;
    border: 2rem solid #5B92E5;
    border-top: 0;
    border-bottom: 3rem solid black;
    transform: rotate(-90deg);
    cursor: pointer;
}

.sdg__buttonrechts{
    width: 0;
    height: 0;
    border: 2rem solid #5B92E5;
    border-top: 0;
    border-bottom: 3rem solid black;
    transform: rotate(90deg);
    cursor: pointer;
}

