@use '../colors';
@use '../fonts';

.sdgSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60rem;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 15rem;
}

.sdg__item{
    width: 40rem;
    height: 40rem;
    background: colors.$danger-color;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


